<div class="content">
    <div class="content widthP92 mt20">
        <div class="widthP100">
            <div class="bg-fff d-flex align-items-center">
                <div class="left-acount-info">
                    <img src="../../content/images/card.png">
                    <div>账户明细</div>
                </div>
                <div class="d-flex justify-content-between widthP100 align-items-center">
                    <div class="ml20 d-flex widthP100">
                        <div style="width:30%">
                            <span class="color666">账户余额：</span>
                            <span class="primary-color fontS22">2536.6</span>
                        </div>
                        <div>
                            <span class="color666">昨日消耗：</span>
                            <span class="primary-color fontS22">536.6</span>
                        </div>
                    </div>
                    <div class="mr20 widthP20 d-flex justify-content-end">
                        <button class="btn-primary btn mr10 recharge-btn">立即充值</button>
                        <button class="btn-scondary btn">申请退款</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-fff mt20 pb20">
            <div>
                <div class="d-flex justify-content-between border-b date-title align-items-center">
                    <ul class="d-flex">
                        <li>财务数据</li>
                    </ul>
                    <div class="d-flex">
                        <div style="margin-top:4px;">
                            <select class="select">
                                <option>全部流水</option>
                                <option>支出</option>
                                <option>收入</option>
                            </select>
                        </div>
                        <div class="mr20 ml20">
                            <button class="btn btn-outline text-l" style="width:142px;">最近30天</button>
                        </div>
                        <div>
                            <button class="btn-outline btn mr6">下载报表</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mlrP1">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>操作时间</th>
                        <th>交易金额（元）</th>
                        <th>类型</th>
                        <th>账户余额（元）</th>
                        <th>操作备注</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>2019年05月10日 23：59：50</td>
                        <td>143.8</td>
                        <td>扣款</td>
                        <td>123.54</td>
                        <td>现金扣款</td>
                    </tr>
                    <tr>
                        <td>2019年05月10日 23：59：50</td>
                        <td>143.8</td>
                        <td>扣款</td>
                        <td>123.54</td>
                        <td>现金扣款</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
