<div style="width:980px;" class="bg-fff mlr10-auto">
    <!--<button type="button"  (click)="activeModal.close('Close click')"/>-->
        <!--<div [ngClass]="adgroupClass">第一步&nbsp;新建推广单元</div>-->
        <!--<div class="next-a">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</div>-->
        <!--<div [ngClass]="locationClass">第二步&nbsp;新建资源位</div>-->
    <cjti-add-location *ngIf="showAddAdgroupPage" (onShowPage)="onShowPage($event)" [activeModal]="activeModal" (childOuter)="getData($event)"></cjti-add-location>
    <cjtj-addSecond-location *ngIf="showAddLocationPage"  [locations]="locations" [locationNum]="count" [activeModal]="activeModal" (onShowPage)="onShowPage($event)" (onSuccess)="onAddLocationSuccess($event)"></cjtj-addSecond-location>
</div>


